﻿@{
    ViewBag.Title = "Home Page";
}


<div class="container">


    <div class="page-header">
        <h1 class="text-center">Escolha uma opção:</h1>
    </div>
    <div class="row-fluid page-header">
        <div class="span8 offset2">
            <div class="lead text-center">
                Fale abertamente com a Flex, esta ferramenta é
                <strong>totalmente anônima</strong>.
                <label class="text-center">Críticas, sugestões e elogios. Ex: Restaurante, ônibus, etc. </label>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row-fluid">
            <div class="col-md-6">
                <div class="thumb">
                    <img src="~/Content/Images/typing-keyboard.png" alt="Escreva para a Flex"><br>
                    <a href="~/Contact/Escrever" class="btn btn-large btn-primary"><i class="icon-edit icon-white"></i><span> Escrever</span></a>
                    <p></p>
                </div>
            </div>
            <div class="col-md-6">
                <div class="thumb">
                    <img src="~/Content/Images/lupa.png" alt="Veja se você já tem uma resposta"><br>
                    <a href="~/Contact/Consultar" class="btn btn-large btn-primary"><i class="icon-search icon-white"></i> Consultar</a>
                    <p></p>
                </div>
            </div>
        </div>
    </div>
    <br>
    <div class="container">
        <div class="row-fluid">
            <div class="col-md-offset-7 col-md-5">
                <div class="text-center well">
                    <p class="font-size-11">
                        Para denúncias clique no logo abaixo para comunicar quaisquer infrações conhecidas e/ou suspeitas em relação do nosso Código de Ética e conduta. Ex: Assédio, discriminação, proprinas, roubos, etc.
                    </p>
                    <a href="https://secure.ethicspoint.com/domain/media/pt/gui/17667/index.html">
                        <img src="~/Content/Images/ico_ethics.png" title="Flextronics">
                    </a>
                </div>
            </div>
        </div>
    </div>


</div>