/* Ajustes Bootstrap */

html {height:auto}
body {padding-top: 40px; padding-bottom: 40px; height:100%; min-width:320px}

.page-header {margin:12px 0; padding:0}
.logo-thumb {float:left; padding:12px}
.side-bar {background:#999;}
.sidebar-nav {padding: 9px 0}

h1 {font-size:30px}
h2 {font-size:25px}
h3 {font-size:20px}
h6 {font-size:200px}

.navbar {*min-width: 960px;  /*Internet Explorer 6 e 7 */}
.navbar-inverse .navbar-inner{
background: #003366!important;
background-color: #003366!important;
border:0;
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff003366', endColorstr='#ff003366', GradientType=0)!important;
}

.navbar-inverse .brand, .navbar-inverse .nav > li > a {color:#fff}
.navbar-fixed-top {margin-bottom:0}

.navbar-actions {display:inline-block; *display:inline}
.navbar-actions .btn {margin:0 2px}
.navbar-inverse .divider-vertical {border-right:0; border-left-color: #1E678D; margin: 0}
.default-nav li:last-child {border-right:1px solid #1E678D!important;}
.navbar-inverse .nav .active > a, .navbar-inverse .nav .active > a:hover, .navbar-inverse .nav .active > a:focus {background:#6B97AF; box-shadow:inset #44687A 0 -1px 3px}
.navbar-inverse .nav > li > a:focus, .navbar-inverse .nav > li > a:hover,
.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus, 
.dropdown-submenu:hover > a, .dropdown-submenu:focus > a,
.navbar-inverse .nav-collapse .nav > li > a:hover, 
.navbar-inverse .nav-collapse .nav > li > a:focus, 
.navbar-inverse .nav-collapse .dropdown-menu a:hover, 
.navbar-inverse .nav-collapse .dropdown-menu a:focus  {background:#0088cc}
.navbar-fixed-top {border-bottom:0px}

#advanced-search, .default-search {display:none}

.submenu {margin-top:40px}
.submenu h1 {font-size:20px; color:#333; margin:0; padding:0;}
.submenu i {margin:6px 0}
.dropdown {display:inline}

/* START: Floating Menu */
.fixedBanner { position: fixed!important; top: 40px!important; left:0; right:0}
/* END: Floating Menu */

/* Ajuste para quebrar texto em todas tabelas. */
.table {word-wrap:break-word; table-layout: fixed}

form .line {margin-bottom: 5px}
form label {font-weight:700}
form label.radio{font-weight:400}
.floating-actions {position:fixed; bottom:30px; right:0; left:0; border:1px double #CCC; border-width:1px 0; margin-bottom:0;
	-webkit-box-shadow:  0 1px 1px rgba(0, 0, 0, 0.075);
	   -moz-box-shadow:  0 1px 1px rgba(0, 0, 0, 0.075);
		 -o-box-shadow:  0 1px 1px rgba(0, 0, 0, 0.075);
			box-shadow:  0 -1px 2px rgba(0, 0, 0, 0.075);
}
.floating-actions {transition: 0.2s linear; padding:5px 20px}
.floating-actions:hover {padding:20px 20px 19px}
	
/* sem espaços nos Spans*/
.no-space { margin-left:0}
.no-space [class*="span"]{margin-left:0}

/* Search Box */

.search-box .accordion-group {background:#EEEEEE; border:1px solid #CCCCCC; z-index:1; box-shadow: 0 1px 5px #EEEEEE}
.search-box .accordion-heading{background:#4D677A}
.search-box .accordion-toggle {padding:8px 15px 8px 0; color:#FFF}
.search-box .accordion-toggle:hover {text-decoration:none}
.search-box .accordion-button {position:relative; display:inline; background:#099; padding:10px 8px 10px 12px; margin-right:15px; z-index:2}
.search-box .arrow-bottom {display:hidden}

.search-box .active {display:block}
.search-box .inactive {display:none}

/* Setas */

.arrow-up {
	width: 0; height: 0; border-left: 5px solid transparent; border-right: 5px solid transparent; border-bottom: 5px solid black}

.arrow-down { 
	width: 0; height: 0; border-left: 11px solid transparent; border-right: 11px solid transparent; border-top: 11px solid #099;
	position:absolute; left:8px; bottom:-11px}

.arrow-right {
	width: 0; height: 0; border-top: 11px solid transparent; border-bottom: 11px solid transparent; border-left: 11px solid #099;
	position:absolute; top:8px; right:-11px}

.arrow-left {
	width: 0; height: 0; border-top: 10px solid transparent; border-bottom: 10px solid transparent;	border-right:10px solid blue}


/* Footer - Set the fixed height of the footer here */
#push, #footer {height: 30px; line-height:30px; background-color: #f5f5f5; position:fixed; bottom:0; left:0; right:0; float:left}


/* Responsive adjustes de largura */

/* Ajuste de largura máxima */
@media (max-width: 979px) {
	body {padding-top:0}
	/* Enable use of floated navbar text */
	.navbar-text.pull-right {float: none; padding-left: 5px; padding-right: 5px}	
	.submenu {margin-top:0px}
	.container{	padding-top: 10px}
	
	/* Enable use of floated navbar text */
	.navbar-text.pull-right {float: none; padding-left: 5px; padding-right: 5px}
	.navbar-inverse .nav-collapse .nav > li > a, .navbar-inverse .nav-collapse .dropdown-menu a {color:#fff}
	.container {padding-top: 0!important}
	.fixedBanner { position: fixed!important; top: 0!important;	left:0; right:0}
}

@media (min-width: 979px) {
	
	/* Submenu */
	.dropdown-menu {border-radius:0!important}
	.dropdown-menu > li > a {padding:10px 20px}
	.dropdown-menu .sub-menu {left: 100%; position: absolute; top: 0; visibility: hidden; margin-top: -1px; border-radius:0!important}
	.dropdown-menu li:hover .sub-menu {visibility: visible}
	.dropdown:hover .dropdown-menu {display: block}
	.nav-tabs .dropdown-menu, .nav-pills .dropdown-menu, .navbar .dropdown-menu {margin-top: 0}
	.navbar .sub-menu:before, .navbar .sub-menu:after  {display:none!important}
	
	.collapse {overflow:visible}
	.accordion .collapse {overflow: hidden} /* ajusta o .collapseq que tirei o hidden */
	
}

@media (max-width: 767px) {
	.row-fluid .mobile-one {width: 31.491712707182323%; *width: 31.43852121782062%}	
	.row-fluid .mobile-three {width: 65.74585635359117%; *width: 65.69266486422946%}	
	.row-fluid .mobile-two {width: 48.93617021276595%!important; *width: 48.88297872340425%!important}	
	.row-fluid .mobile-one,
	.row-fluid .mobile-two,
	.row-fluid .mobile-three {float:left; margin-left: 2.7624309392265194%; *margin-left: 2.709239449864817%}
	.menu-filter {
		padding:5px; border: 1px solid #cccccc; border-radius:5px;
		-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
		   -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
		   	 -o-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
		        box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
		-webkit-transition: border linear 0.2s, box-shadow linear 0.2s;
		   -moz-transition: border linear 0.2s, box-shadow linear 0.2s;
		     -o-transition: border linear 0.2s, box-shadow linear 0.2s;
		        transition: border linear 0.2s, box-shadow linear 0.2s;
	}
	.row-fluid .mobile-two {*width: 42.88297872340425%!important}
	
	h1 {font-size:25px}
	h2 {font-size:21px}
	h3 {font-size:27px}
	
	.page-header {margin:8px 0; padding:0}
	
	/* Footer */
	#footer {margin-left: -20px; margin-right: -20px; padding-left: 20px; padding-right: 20px}
	
	
	
}

/* Incluir no TEMA */

.popover-title {
	font-weight:bold; 
	background-color:#003366; 
	color:#fff}

.input-append.fill, .input-append.fill100, .input-append.fill120, .input-append.fill30 {display: block; position: relative; height: 30px}
.fill .input , .fill100 .input , .fill120 .input , .fill30 .input   {position: absolute; left: 0px; width: auto !important}
.add-on.fill, .add-on.fill100, .add-on.fill120, .add-on.fill30 {position: absolute; right: 0px; z-index:100!important; height:auto}

.add-on.fill100 {width: 100px}
.fill100 .input {right: 100px} /* Valor de Right tem que ser width de .add-on.fill -1px */

.add-on.fill120 {width: 120px}
.fill120 .input  {right: 120px} /* Valor de Right tem que ser width de .add-on.fill -1px */

.add-on.fill30 {width: 30px}
.fill30 .input  {right: 30px} /* Valor de Right tem que ser width de .add-on.fill -1px */


/* Search Box */
.search-box {padding:0; height:400px; position:relative}
.search-box .search-title {margin:0; font-size:16px; padding:0 10px; text-align:center}
.search-box select, .search-box .input-append {margin:0px 10px; border:1px}
.search-box .input, .search-box .btn  {border-radius:0!important}
.search-box .btn  {border-right:0}
.search-box select option {height:25px; font-size:14px}

.search-box .container-list {overflow:auto; bottom:0; right:0; left:0; top:81px; position:absolute;border:1px solid #CCC; border-top-width:0px}
.search-box ul {list-style-type:none; padding:0; margin:0}
.search-box ul li {list-style-type:none; padding:8px 5px 8px 0; border-bottom:1px solid #CCC; color: #777; position:relative}
.search-box ul li a {background:#fff; padding:10px; margin-right:5px; 
	box-sizing:border-box;
  	-moz-box-sizing:border-box;
  	-webkit-box-sizing:border-box;}
.search-box ul li:hover {background:#ececec}
.search-box ul li:hover a {background:#ddd}
.search-box ul li a:hover {background-color:#08c}
.search-box ul li a:hover i {background-image:url("../assets/img/glyphicons-halflings-white.png")}

.search-box ul li .icon-info-sign {opacity:0.3; position:absolute; right:5px; top:50%; margin-top:-7px; cursor:pointer}
.search-box ul li:hover .icon-info-sign  {opacity:1}

.search-header { background:#ececec; border-radius:10px 10px 0px 0px; padding-bottom:10px;border:1px solid #CCC; border-bottom-width:0px }
/*.search-header i.icon-share-alt { position:absolute; right:-23px; top:0px; }*/

.container-narrow {
 margin: 0 auto;
 max-width: 700px
}
.thumb { position:relative; text-align:center}
.thumb img { margin-bottom:10px }
.thumb button { width:150px }

.send-form textarea, .send-form input { width:95%; font-size:21px; color:#666; line-height:26px } 
.input-append { margin-top:15px }
.input-append input { height:30px; font-size:30px }
.input-append button { height:40px }
.input-append a { height:30px; line-height:27px }
.importante { font-size:30px; padding:10px; margin-bottom:15px }

/* Modal */
.modal {z-index: 20000!important; -moz-border-radius:0px;border-radius:0px; border:0px}
.modal-backdrop {z-index: 19999!important; background-image:url(../images/dark_fish_skin_@2X.png) }
.modal .modal-header { color:#003366}

.modal-backdrop, .modal-backdrop.fade.in {
opacity: .9;
filter: alpha(opacity=80);
}


.radio, .checkbox {padding-left: 20px;}

.form-container .radio, .checkbox {padding-left: 0px;}

.wordwrap {
    white-space: pre-wrap; /* css-3 */
    white-space: -moz-pre-wrap; /* Mozilla, since 1999 */
    white-space: -pre-wrap; /* Opera 4-6 */
    white-space: -o-pre-wrap; /* Opera 7 */
    word-wrap: break-word; /* Internet Explorer 5.5+ */ 
}

td {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.form-container label {
	margin-bottom:-5px;
}
.cursor-hand {
	cursor:pointer!important
}

.font-size-11{
	font-size: 11px !important;
	line-height: 16px !important;
}
