﻿
@{
    ViewBag.Title = "Consultar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="container">


    <div class="page-header consulta">
        <h1 class="text-center">
            <span>Check for feedback:</span><br>
            <div class="input-append">
                <input class="span3" id="appendedInputButton" type="text">
                <span class="help-block" style="display: none;"></span>
                <button class="btn" type="button" id="searchBtn"> Search</button>
            </div>
            <span class="help-block" style="display: none;"></span>
        </h1>
    </div>

    <div id="responseContainer" class="container-narrow" style="">
        <div class="row-fluid">
            <div class="span6">
                <div>
                    <h3>Message sent:</h3>
                    <div class="wordwrap" id="messagePlace"></div>
                </div>
            </div>
            <div class="span6">
                <div>
                    <h3>Flex answer:</h3>
                    <div class="wordwrap" id="responsePlace"></div>
                </div>
            </div>
        </div>
    </div>


    <div id="divcontainer" class="container-narrow" style="">
        <div class="well">
            <p id="timer-container">
                <a href="../Home/Index" class="btn btn-primary pull-left">
                    End now
                </a>

                <span class="pull-right">
                    This page will be closed in:
                    <span class="lead countdown"></span>

                </span>
            </p>
        </div>
    </div>


    <div id="myModalEmpty" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h3 id="myModalLabel"><span> Empty code</span></h3>
        </div>
        <div class="modal-body"><span> You must fill the Code field to check for feedback</span></div>
        <div class="modal-footer">
            <div class="pull-right">
                <button class="btn" data-dismiss="modal" aria-hidden="true" onclick="javascript:showAdicionadoToast();">OK</button>
            </div>
        </div>
    </div>

    <div id="myModalNoAnswer" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h3 id="myModalLabel"><span> Question not answered</span></h3>
        </div>
        <div class="modal-body"><span> Your question was still not answered, try again later</span></div>
        <div class="modal-footer">
            <div class="pull-right">
                <button class="btn" data-dismiss="modal" aria-hidden="true" onclick="javascript:showAdicionadoToast();">OK</button>
            </div>
        </div>
    </div>

    <div id="myModalNotFound" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h3 id="myModalLabel"><span> Code not found</span></h3>
        </div>
        <div class="modal-body"><span> There is no question for this code, check the code and try again</span></div>
        <div class="modal-footer">
            <div class="pull-right">
                <button class="btn" data-dismiss="modal" aria-hidden="true" onclick="javascript:showAdicionadoToast();">OK</button>
            </div>
        </div>
    </div>

    <div id="myModalMessageRead" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h3 id="myModalLabel"><span> Message read</span></h3>
        </div>
        <div class="modal-body"><span> This message has been read </span></div>
        <div class="modal-footer">
            <div class="pull-right">
                <button class="btn" data-dismiss="modal" aria-hidden="true" onclick="javascript:showAdicionadoToast();">OK</button>
            </div>
        </div>
    </div>



</div>
<script src="~/Content/js/Consultar.js"></script>