﻿
@{
    ViewBag.Title = "Escrever";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">


    <div class="page-header">
        <h1 class="text-center">Escreva sua mensagem:</h1>
    </div>


    <div class="row">
        <div class="col-md-offset-3 col-md-6">
            <div class="send-form">
                <div class="row">
                    <div class="col-md-6 form-group">

                        <span class="pull-left"><strong>Assunto:</strong> </span><br>

                        <select id="model_subject" name="model.subject" class="form-control">
                            <option value="">Selecione uma opção</option>

                            <option value="Dúvidas">Dúvidas</option>

                            <option value="Elogios">Elogios</option>

                            <option value="Sugestões">Sugestões</option>

                            <option value="Outros">Outros</option>

                        </select>

                        <input id="model_sitecode" name="model.sitecode.siteCode" type="hidden" value="SAO">
                        <span class="help-block" style="display: none;"></span>
                    </div>
                    <div class="col-md-6 form-group">
                        <span class="pull-left"><strong>Area:</strong></span><br>

                        <select id="model_area" name="model.area.id" class="form-control">
                            <option>Selecione uma opção</option>

                            <option value="1">IT</option>

                            <option value="2">RH</option>

                            <option value="3">Compras</option>

                            <option value="4">Logística</option>

                            <option value="5">Warehouse</option>

                            <option value="6">Facilities/Meio Ambiente</option>

                            <option value="7">Fiscal</option>

                            <option value="8">Financeiro</option>

                            <option value="9">FIT</option>

                            <option value="10">Sinctronics</option>

                            <option value="11">Manufatura</option>

                            <option value="12">Segurança Patrimonial</option>

                            <option value="13">Segurança do Trabalho e Ambulatório</option>

                            <option value="14">Outros</option>

                        </select>

                        <span class="help-block" style="display: none;"></span>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12 form-group">
                        <span class="pull-left"><strong>Mensagem:</strong></span><br>
                        <textarea class="form-control" id="model_message" name="model.message" onkeyup="remainder(this.value,250,'remainder_count')" rows="8" maxlength="250" placeholder="Sua mensagem"></textarea>
                        <br />
                        <span id="msg_remainder">
                            Caracteres restantes:
                        </span>
                        <span id="remainder_count">250</span>

                        <span class="help-block" style="display: none;"></span>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-2">
            <button type="submit" class="btn btn-primary">Enviar</button>
            <button id="btnCancelar" class="btn">Cancelar</button>
        </div>
    </div>
    <script src="~/Content/js/Escrever.js"></script>


</div>
